<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>web</title>
</head>
<body>

  <h1>Add Data</h1>
  <form action="/add" method="post" onsubmit="return check()">
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">string </label>
      <div class="col-sm-10">
        <input type="string" class="form-control" id="string" type="text"name="string" value="" placeholder="String">

      </div>
    </div>

    <label for="inputPassword" class="col-sm-2 control-label">Integer</label>
    <div class="col-sm-10">
      <input type="Integer" class="form-control" id="number" type="text" name="integer" value="" placeholder="Integer">
    </div>


    <label for="inputPassword" class="col-sm-2 control-label">float</label>
    <div class="col-sm-10">
      <input type="float" class="form-control" id="float" type="text"name="float" value="" placeholder="float">
    </div>


    <label for="inputPassword" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="date" type="date"name="date" value="" placeholder="Date">
    </div>


    <label for="inputPassword" class="col-sm-2 control-label">Boolean</label>
    <div class="col-sm-10">
      <select name="boolean" class="form-control">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>



    <input type="submit"class="btn btn-primary" name=""value="save"> <br>
  </form>
</body>
<script type="text/javascript">


</script>
</html>
