<div id="footer">

  <div id="demo"></div>

  <script>
    function myFunction()
    {
      var d = new Date();
      var n = "COPYRIGHT@ZUL_CODAGO_"+d.getFullYear();
      document.getElementById("demo").innerHTML = n;
    }
   </script>
</div>
</body>
</html>
